/* 
CSS DIRECTORY
  1. GLOBAL
  2. MAIN
  3. FOOTER 
*/

/* || GLOBAL */
:root {
  /* colors */
  --bg: oklch(100% 0 0);
  --border: oklch(85% 0 0);
  --txt: oklch(5% 0 0);
  --txt-muted: oklch(30% 0 0);
  --link: oklch(42.9% .30 264);
  --link-visited: oklch(37.8% 0.17 302);
  --link-active: oklch(62.8% 0.26 29);

  /* hover basis */
  --hover-color: black;
  --hover-amount: 10%;
  --hover-color-link: white;
  --hover-amount-link: 30%;

  /* hover elements */
  --bg-hover: color-mix(in srgb, var(--bg), var(--hover-color) var(--hover-amount));
  --link-hover: color-mix(in srgb, var(--link), var(--hover-color-link) var(--hover-amount-link));
  --link-visited-hover: color-mix(in srgb, var(--link-visited), var(--hover-color-link) var(--hover-amount-link));

  /* proportions */
  --box-size: 2.5rem;
}

/* 
! This breaks the JS manual toggle when the OS is in dark mode, because it unables the switch to light mode.
TODO: Utilize a function-based JS manual toggle algorithm

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: oklch(25% 0 0);
    --color-txt: oklch(98% 0 0);
    --color-txtMute: oklch(70% 0 0);
    --color-primary: oklch(53% 0.2 265);
    --color-primaryMute: oklch(23% 0.2 265);
    --color-secondary: oklch(71% 0.16)
  }
}
*/

body.darkmode {
  --color-bg: oklch(25% 0 0);
  --color-txt: oklch(98% 0 0);
  --color-txtMute: oklch(70% 0 0);
  --color-primary: oklch(53% 0.2 265);
  --color-primaryMute: oklch(23% 0.2 265);
  --color-secondary: oklch(71% 0.16)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* outline: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-txtMute)
}

/* Media */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--txt);
}

h1,
h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

/* Links */
a {
  color: var(--color-txt);
}

a:visited {
  color: var(--color-primaryMute);
}

a:hover {
  color: var(--color-primary);
}

/* || MAIN */
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1em auto;
  width: 65%;
  max-width: 75ch;
  padding: .5em 1.75em;
}

/* || FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 1rem;
  background-color: var(--color-bgInvert);
  color: var(--color-txtMuteInvert);
}

.footer-right {
  display: flex;
  gap: 1rem;
}

footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

footer small,
footer a {
  font-size: 0.875rem;
}

footer a,
footer a:visited {
  text-decoration: none;
  color: var(--color-txtMuteInvert);
}

footer a:hover {
  color: var(--color-txtInvert);
}

#btn-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .25s ease all;
  border: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  background-color: var(--color-bg);
}

#btn-theme:hover {
  transition: .25s ease all;
  background-color: var(--color-primary);
  color: var(--color-txtInvert);
}

#btn-theme svg:last-child {
  display: none;
}

.darkmode #btn-theme svg:first-child {
  display: none;
}

.darkmode #btn-theme svg:last-child {
  display: block;
}