html {
  box-sizing: border-box;
  font: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Typography */

h1,
h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

a:hover {
  color: rgb(107, 107, 255)
}

/* || Main */

main {
  margin: 25px auto;
  width: 65%;
  padding: 0 25px;
}

/* || Footer */

footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  height: 3rem;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

footer p,
footer a {
  font-size: 0.875rem;
}

footer a {
  color: #aaa
}

footer a:hover {
  color: #fff;
}