/* CSS DIRECTORY
  1. =GLOBAL
  2. =MAIN
  3. =FOOTER 
*/

/* ===GLOBAL=== */

:root {
  --color-bg: oklch(.98 0 0);
  --color-bgInvert: oklch(.05 0 0);
  --color-txt: oklch(.05 0 0);
  --color-txtMute: oklch(.3 0 0);
  --color-txtInvert: oklch(.7 0 0);
  --color-txtMuteInvert: oklch(.95 0 0);
  --color-primary: oklch(0 0 0);
  --color-secondary: oklch(0 0 0);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-txtMute)
}

/* Typography */

h1,
h2 {
  text-transform: capitalize;
  color: var(--color-txt);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  text-decoration: underline;
  color: #00e;
}

a:visited {
  color: #551A8B;
}

a:hover {
  color: #06e;
}

/* ===MAIN=== */

main {
  margin: 1em auto;
  width: 65%;
  max-width: 75ch;
  min-height: 88vh;
  padding: .5em 1.75em;
}

/* ===FOOTER=== */

footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 1rem;
  background-color: var(--color-bgInvert);
  color: var(--color-txtMuteInvert);
}

footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

footer small,
footer a {
  font-size: 0.875rem;
}

footer a {
  color: var(--clr-txt-mute-seconcadry)
}

footer a:hover {
  color: var(--clr-txt-secondary)
}