* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #242424;
  font-family: Merriweather Sans, Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

h1,
h2,
h3 {
  font-family: Merriweather Seriff, Georgia, 'Times New Roman', Times, serif;
}

h1,
h2 {
  text-transform: capitalize;
}

h2,
h3 {
  margin-bottom: 7px;
}

h1,
.h1-subtitle {
  text-align: center;
}

.h1-subtitle {
  margin-bottom: 12px;
  font-style: italic;
}

h1 {
  font-size: 2.5rem;
  line-height: 120%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

ul {
  list-style: none;
}

a {
  transition: 0.15s all;
  text-decoration: none;
}

/* Header */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 45px;
  background-color: #fff;
}

header nav {
  margin: 0 25px;
}

header nav ul li {
  display: inline-block;
  margin: 0 12.5px;
}

header ul li a {
  display: inline-block;
  padding: 6px 12px;
  color: #757575;
}

header ul li a:hover {
  border-radius: 10px;
  background-color: #eee;
  color: #191919;
}

/* Main Content */

main {
  margin: 0 auto;
  width: 45%;
  max-width: 864px;
  padding: 15px 25px;
}

main figure {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

main .img-philosopher {
  margin: 0 auto;
  border-radius: 5px;
  width: 75%;
  height: auto;
}

main p,
main ol,
main ul {
  margin-bottom: 25px;
}

main ul {
  margin-left: 25px;
  list-style: disc;
}

main a {
  text-decoration: underline;
  color: #00e;
}

main a:visited {
  color: #551a8b;
}

main a:hover {
  color: #06e;
}

main hr {
  margin: 0 auto;
  margin-bottom: 25px;
  border: 0;
  max-width: 97%;
  height: 1px;
  background-color: #eee;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: 45px;
  background-color: #191919;
}

footer ul li {
  display: inline;
  justify-content: right;
  margin-left: 15px;
}

footer .license,
footer ul {
  margin: 0 50px;
}

footer .license,
footer a {
  color: #aaa;
  font-size: 12px;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color: white;
}