* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  color: #242424;
  font-family: Merriweather Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

h1,
h2,
h3 {
  font-family: Merriweather Seriff;
}

h1,
h2 {
  text-transform: capitalize;
}

h2,
h3,
p,
ol,
ul {
  margin-bottom: 15px;
}

h1,
.h1-subtitle {
  text-align: center;
}

.h1-subtitle {
  font-style: italic;
}

h1 {
  font-size: 2.5rem;
  line-height: 120%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

/* Header */

header {
  border-bottom: #0a0a0a;
  display: inline;
}

/* Main Content */

main {
  margin: 0 auto;
  border-radius: 5px;
  max-width: 45%;
  padding: 25px;
  background-color: white;
}

main figure {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

}

main img {
  margin: 0 auto;
  width: 75%;
  height: auto;
  border-radius: 5px;
}

main ul {
  margin-left: 25px;
}

/* Footer */

footer {
  background-color: #191919;
  color: white;
}