* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  font-family: Merriweather Sans;
  /* Temporary attribute */
  background-color: #f0f0f0;
}

h1,
h2,
h3,
p,
li {
  color: #242424;
}

h1,
h2 {
  font-family: Merriweather Seriff;
}

h1,
.h1-subtitle {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

h2,
h3,
p,
ul {
  margin-bottom: 15px;
}

h2 {
  text-transform: capitalize;
}

h3,
p,
li {
  font-family: Merriweather Sans;
}

p,
ul {
  font-weight: 300;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

/* Header */

header {
  border-bottom: #0a0a0a;
  display: inline;
}

/* Main Content */

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  padding: 25px;
  background-color: #fff;
  line-height: 1.5;
  border-radius: 5px;
}

main ul {
  margin-left: 35px;
}


.h1-subtitle {
  font-style: italic;
}


li::marker {
  color: #ccc;
}

figure {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

}

img {
  margin: 0 auto;
  width: 75%;
  height: auto;
  border-radius: 5px;
}


/* Footer */

footer {
  background-color: #191919;
  color: white;
}